/* Fonts and Colors */
body {
  background: #E8EDF4;
  /*background: #E4e9e9;*/
  /*background: rgb(245, 245, 245);*/
  color: #404145;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  color: black;
  font-size: 50px;
}

h2 {
  color: rgb(100, 100, 100);
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
  &hover {
    color: rgb(200, 200, 200);
    text-decoration: none;
  }
}

/* Custom CSS */

#banner {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%)
    ,url(images/cover01.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#banner-content {
  text-align: center;
  margin: -80px 0 50px 0;
  width: 60%;
}
#banner-content h1 {
  color: white;
}
#banner-content p {
  color: white;
  opacity: 0.7;
  font-weight: lighter;
  font-size: 30px;
  text-shadow: 1px 1px 4px #020C19;
  /*text-shadow: 1px 1px 20px rgba(7, 64, 134, 0.9);*/
  /*border: 1px solid red;*/
}
#button {

}
.btn-primary {
  background: rgb(7, 64, 134);
  border: 0px;
  &hover {
    background: rgb(34, 160, 211);
  }
}

.card-white {
  background: white;
  text-align: center;
  padding: 20px 0;
  margin: 16px 0;
  height: 230px;
  box-shadow: 1px 1px 2px rgba(97,133,178, 0.2);
}
.card-white img {
  margin-bottom: 16px;
}

#description {
  text-align: center;
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
  /*padding: 20px;*/
  background: white;
}

  #description p {
    padding: 0 20%;
  }

#footer {
  /*background: black;*/
  background: rgb(7, 64, 134);
  padding: 25px 30px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer a {
  color: white;
  font-size: 24px;
  opacity: 0.8;
}
#footer a:hover {
  color: lightgrey;
  font-size: 24px;
  opacity: 0.8;
}
#footer li {
  padding-right: 30px;
}
#footer ul, p {
  margin-bottom: 0;
}
